#header {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .title {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 3em;
    }

    h2 {
      padding-left: 0.5em;
    }
  }

  .score {
    margin: 0;
    color: #6c90ac;
  }

  .tried {
    margin-top: 0;
  }
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  /* 新增：寬度和標頭一致 */
  margin: 0 auto;
  /* 新增：置中 */

  .card {
    flex: 7% 1 1;
    height: 8vw;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px;
    box-sizing: border-box;

    p {
      margin: 0 5px;
      font-size: 10px;
    }

    p:last-child {
      transform: rotate(180deg);
    }

    img {
      max-width: 30%;
      align-self: center;
    }
  }

  .back {
    background-image: url(../img/cardBack.png);
    background-size: cover;
  }
}

.paired {
  background-color: #929292;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

// 遊戲結束
/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;

  p {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 0;
  }

  p:first-child {
    font-size: 3em;
    font-weight: 700;
    color: #758d9a;
  }
}